### TAREA 2 - Limpieza y alistamiento de datos
### Cargo: Ingeniería de Datos: Nicolas Alvarez

In [1]:
import pandas as pd
df = pd.read_csv('data.txt')
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14704\38030154.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

In [2]:
# Buscar duplicados
df.duplicated().sum() #Respuesta: 0

#Identificar errores estructurales
df.isnull().values.any()     #Anwser: True --> ¿Dónde están los datos nulos?
df.isnull().sum()   # 506 NaNs en la columna wip
df = df.dropna(inplace=False)
print("NaNs por cada fila del DataFrame: ")
df.isnull().sum()   # 0 NaNs en la columna wip

NaNs por cada fila del DataFrame:

date                     0
quarter                  0
department               0
day                      0
team                     0
targeted_productivity    0
smv                      0
wip                      0
over_time                0
incentive                0
idle_time                0
idle_men                 0
no_of_style_change       0
no_of_workers            0
actual_productivity      0
dtype: int64

### Tarea 3: Exploracion de datos
### Cargo: Analisis de Datos: Luisa Velez

Cálculo de estadísticas descriptivas

In [6]:
print(df.describe())

             team  targeted_productivity         smv           wip  \
count  691.000000             691.000000  691.000000    691.000000
mean     6.520984               0.723980   23.245412   1190.465991
std      3.458333               0.102006    6.976497   1837.455001
min      1.000000               0.070000   10.050000      7.000000
25%      4.000000               0.700000   18.790000    774.500000
50%      6.000000               0.750000   22.520000   1039.000000
75%     10.000000               0.800000   28.080000   1252.500000
max     12.000000               0.800000   54.560000  23122.000000

          over_time   incentive   idle_time    idle_men  no_of_style_change  \
count    691.000000  691.000000  691.000000  691.000000          691.000000
mean    6508.205499   44.483357    1.264834    0.639653            0.260492
std     2864.505604   27.596591   16.712923    4.283652            0.537185
min        0.000000    0.000000    0.000000    0.000000            0.000000
25%     4560.000000   30.000000    0.000000    0.000000            0.000000
50%     6840.000000   45.000000    0.000000    0.000000            0.000000
75%     7200.000000   60.000000    0.000000    0.000000            0.000000
max    25920.000000  138.000000  300.000000   45.000000            2.000000

       no_of_workers  actual_productivity
count     691.000000           691.000000
mean       52.445731             0.722013
std         9.417353             0.154784
min        26.000000             0.233705
25%        52.000000             0.661470
50%        57.000000             0.750608
75%        58.000000             0.800402
max        89.000000             1.100484